<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Address Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<h1 th:inline="text">Address Book [[${addressBook.getId()}]]</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th colspan="2">Phone Number</th>
    </tr>
    <tr th:each="buddy : ${addressBook.getBuddyBook()}">
        <td th:text="${buddy.name}"></td>
        <td th:text="${buddy.address}"></td>
        <td th:text="${buddy.phoneNumber}"></td>
        <td>
            <form th:action="@{'/addressbooks/' + ${addressBook.id} + '/' + ${buddy.id}}" method="POST">
                <input type="hidden" name="_method" value="DELETE"/>
                <button class="button" type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>

<hr>

<form th:action="@{/addressbooks/{addressBookId}(addressBookId=${addressBook.id})}" method="post" th:object="${buddyInfo}">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}"><br>

    <label for="address">Address:</label>
    <input type="text" id="address" name="address" th:field="*{address}"><br>

    <label for="phoneNumber">Phone number:</label>
    <input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}"><br>

    <button class="button" type="submit">Add Buddy</button>
</form>


<a href="/">Return to home page</a>
</body>
</html>
